<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMS2.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="DeviceCode" value="S500" />
    <add key="RUId" value="00000000-0000-0000-0000-000000000000" />
    <add key="BcoId" value="5F668905-BEE3-4BEA-BD17-A284ACBDFC2C" />
    <add key="isSync" value="false" />
    <add key="Filter" value="" />
    <add key="isSubserver" value="false" />
  </appSettings>
  <connectionStrings>
   <add name="Cms" connectionString="Data Source=192.168.0.97,49192;Initial Catalog=cms2_beta3;User ID=sa;Password=Ap123456#;Connect Timeout=180;Connection Lifetime=0;Pooling=true;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CmsCentral" connectionString="Data Source=192.168.5.3;Initial Catalog=cms2_Beta4;User ID=sa;Password=Ap123456#;Connect Timeout=20;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <CMS2.Client.Properties.Settings>
      <setting name="DeviceCode" serializeAs="String">
        <value>S005</value>
      </setting>
      <setting name="DeviceRevenueUnitId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="DeviceBcoId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LocalDbUsername" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="CentralDbName" serializeAs="String">
        <value>cms2_Beta3</value>
      </setting>
      <setting name="CentralUsername" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Filter" serializeAs="String">
        <value>Manila</value>
      </setting>
      <setting name="LocalDbPassword" serializeAs="String">
        <value>d0me$tic$QL</value>
      </setting>
      <setting name="LocalDbServer" serializeAs="String">
        <value>192.168.5.1</value>
      </setting>
      <setting name="LocalDbName" serializeAs="String">
        <value>cms2_Beta3</value>
      </setting>
      <setting name="CentralServerIp" serializeAs="String">
        <value>192.168.5.1</value>
      </setting>
      <setting name="CentralPassword" serializeAs="String">
        <value>d0me$tic$QL</value>
      </setting>
    </CMS2.Client.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--<add name="Cms" connectionString="Data Source=192.168.5.1;Initial Catalog=cms2_Beta;User ID=sa;Password=d0me$tic$QL;Connect Timeout=180;Connection Lifetime=0;Pooling=true;" providerName="System.Data.SqlClient" />-->