<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AP_CARGO_SERVICE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="AP_CARGO_SERVICE.Properties.Settings.LocalConnectionString"
            connectionString="Data Source=192.168.5.1;Initial Catalog=cms2_Beta3;User ID=sa;Password=d0me$tic$QL;Connect Timeout=180;Connection Lifetime=0;Pooling=true;" />
      <add name="AP_CARGO_SERVICE.Properties.Settings.ServerConnectionString"
            connectionString="Data Source=121.96.38.24;Initial Catalog=cms2_Beta3;User ID=sa;Password=Ap123456#;Connect Timeout=180;Connection Lifetime=0;Pooling=true;" />
            </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AP_CARGO_SERVICE.Properties.Settings>
            <setting name="BranchCorpOfficeId" serializeAs="String">
                <value>d3ef4a7f-9207-4320-8434-b9e3ad20c599</value>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>Zamboanga</value>
            </setting>
            <setting name="Provision" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeprovisionServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeprovisionClient" serializeAs="String">
                <value>False</value>
            </setting>
        </AP_CARGO_SERVICE.Properties.Settings>
    </applicationSettings>
</configuration>