<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="APCargoCentral" connectionString="Data Source=jovintbk\express2014;Initial Catalog=apcargo2central;User ID=sa;Password=mssql;Connect Timeout=0;" providerName="System.Data.SqlClient" />-->
    <!--<add name="APCargoDbCentral" connectionString="Data Source=121.96.38.10;Initial Catalog=apcargo2;User ID=dev218;Password=ap0123;Connect Timeout=202545;Connection Lifetime=202130;Pooling=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Tracking" connectionString="data source=cmscentral;initial catalog=tracking2;user id=sa;password=mssql;pooling=False;connect timeout=202545;load balance timeout=202130;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>